<nav>
    <h1>Clientes</h1>
    <ul>
        <li>    
            <button (click)="MostrarOpcion(0)" id="vista">
                <i id="icono" class="far fa-id-card"></i>
                Vista Card
            </button>
        </li>
        <li>
            <button (click)="MostrarOpcion(1)" id="lista" >
                <i id="icono" class="fas fa-list"></i>
                Lista
            </button>
        </li>
        <li>
            <button (click)="MostrarOpcion(2)" id="formulario">
                <i id="icono" class="far fa-plus-square"></i>
                Añadir
            </button>
        </li>
    </ul>
</nav>
<section *ngIf="opcion==0" id="vista">
    <ul>
        <li *ngfor>
            <i class="far fa-angry"></i>
            <span> Nombre Apellido </span>
            <span> Pais, Ciudad </span>
        </li>
    </ul>
</section>
<section *ngIf="opcion==1" id="lista">
    <table>
        <tr>
            <th>Nombres</th><th>Apellidos</th><th>Genero</th><th>Pais</th><th>Ciudad</th>
        </tr>
        <tr *ngFor="let item of lista" id="items">
            <td> {{item.nombres}} </td>
            <td >{{item.apellidos}} </td>
            <td> {{item.genero}} </td>
            <td> {{item.pais}} </td>
            <td> {{item.ciudad}} </td>
        </tr>
    </table>
</section>
<section *ngIf="opcion==2" id="formulario">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()" accept-charset="utf-8" novalidate>

        <section>
        Nombres
        <p><input type="text" formControlName="nombre" size="40" required></p>
  
        Apellidos
        <p><input type="text" formControlName="apellido" size="40" required></p>
  
        Género
        <p id ="genero">
            <input type="radio" formControlName="genero" value="Mujer" required> Mujer
            <input type="radio" formControlName="genero" value="Hombre" required> Hombre
            <input type="radio" formControlName="genero" value="Otros" required> Otros
        </p>
  
        País 
        <p> 
        <select formControlName="pais" size="1" required>
            <option value="Argentina">Argentina</option>
            <option value="Brasil">Brasil</option>
            <option value="Chile">Chile</option>
            <option value="Colombia">Colombia</option>
            <option value="Perú">Perú</option>
        </select>
        </p>
  
        Ciudad
        <p> <input type="text" formControlName="ciudad" size="40" required></p>
  
        </section>
  
        <p id= "submits" >
          <input type="submit" value="Enviar" [disabled] = "formulario.invalid">
          <input type="reset" value="Borrar">
        </p>
  
    </form>
</section>
